.grid-66-33 {
	width: 100%;
	display: inline-block;
}

.block-66 {
	float: left;
	width: 66%;
}

.block-33 {
	padding: 1%;
	float: left;
	width: 31%;
}

.chat {
	min-height: 720px;
	border: 1px solid black;
}