<ul data-role="listview" data-inset="true" data-theme="b">
	<li data-role="list-divider" data-theme="b">Right now:</li>
  <%= render :partial => "song_info", :locals => {:song_data => @now_playing} %>
</ul>
<ul data-role="listview" data-inset="true" data-theme="a">
	<li data-role="list-divider" data-theme="a">Coming up:</li>
	<% @performances.each do |performance| %>
    <%= render :partial => "song_info", :locals => {:song_data => performance} %>
	<% end %>
</ul>
