<div id="main-menu" data-role="panel" data-display="overlay" data-theme="b">
  <ul data-role="listview">
	  <li><input type="search" name="search-1" id="search-1" value="" data-theme="a"></li>
    <li><a href="#">Sing</a></li>
    <li><a href="#">Songs by Title</a></li>
    <li><a href="#">Songs by Artist</a></li>
    <li><a href="#">Songs by Genre</a></li>
    <li><a href="#">Rate Performers</a></li>
    <li><a href="#">My Profile</a></li>
    <li><a href="#">Settings</a></li>
    <li><a href="#">Help</a></li>
    <li>
        <a href="#popup-signin" data-rel="popup" data-transition="pop" data-position-to="window">Log in</a>
    </li>
  </ul>
</div>